.site-top {
    background-color: rgb(0, 225, 255);
    height: 300px;
    text-align: center;
    margin-top: -200px;
    
}

.title {
    font-size: 50px;
}

.site-bottom {
    background-color: rgb(0, 72, 255);
}
