.site-top {
    background-color: rgb(72, 255, 0);
    height: 125px;
    text-align: center;
    margin-top: -90px;
    font-size: 65px;
    width: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.site-bottom {
    background-color: rgb(0, 183, 255);
    height: 800px;
    margin-bottom: -20px;
}

.center {
    justify-content: center;
    display: flex;
}

.projekte {
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

.werbung {
    margin-top: -140px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: flex;
    text-align: center;
}