.site-top {
    background-color: rgb(0, 139, 158);
    height: 125px;
    text-align: center;
    margin-top: -90px;
    margin-left: -50px;
    margin-right: -50px;
    font-size: 65px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.site-bottom {
    background-color: rgb(0, 72, 255);
    height: 700px;
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: -20px;
}
